@font-face {
  font-family: oswald;
  src: url(../Assets/fonts/Oswald/static/Oswald-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.text {
  color: white;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 0.4cm;
  line-height: 1.3cm;
  padding: 10px;
  background-image: url(../Assets/images/pexels-yuting-gao-1557547.jpg);
  background-position: center;
  background-size: cover;
}

#textID {
  color: rgb(243, 186, 186);
  font-size: x-large;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 0.4cm;
  line-height: 1.3cm;
  padding: 10px;
  border: 3px red solid;

  background-image: radial-gradient(red, yellow);
}
