#first {
  background-color: orange;
  left: 0;
  border: 8px solid rgb(241, 195, 110);
}

#second {
  background-color: green;
  left: 400px;
  border: 8px solid rgb(142, 233, 142);
}

#third {
  background-color: pink;
  left: 800px;
  border: 8px solid rgb(247, 223, 227);
}

.container {
  width: fit-content;
  width: 300px;
  height: 700px;
  position: absolute;
  margin: 30px;
}

/* body {
  margin: 0;
  padding: 0;
} */

.card {
  margin: 8px;
  padding: 6px;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 5px solid rgb(153, 148, 148);

  /* should be different for each card */
  border-top: 5px solid lightblue;
}

button {
  border: transparent;
}

.pink {
  background-color: pink;
}

.card_one,
.card_two,
.card_three {
  margin: 9px;
}

.card_three {
  border-radius: 50%;
  background-color: blue;
  width: fit-content;
  padding: 8px;
}
