.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
  font-size: x-large;
}

.unread {
  /* several unique declarations */
  font-size: medium;
}

.subsection.preview {
  color: red;
}

.ancestor .contents {
  background-color: blue;
  height: 30px;
  width: 30px;
  border: 3px solid red;
  margin: 3px;
}
